@font-face {
    font-family: 'Lato';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url(./Lato-Bold.ttf) format("truetype");
  }

  @font-face {
    font-family: 'Lato';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url(./Lato-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: 'Lato';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url(./Lato-Black.ttf) format("truetype");
  }