.technology__title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    padding-top: 63px;
    margin: 0 auto;
}